* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: red;
  --darkgreen: rgb(215, 213, 204);
  --black: rgb(15, 15, 15);
  --headingFont: "Playfair Display", serif;
}
body {
  background-color: var(--darkgreen);
  font-size: 18px;
  font-family: "Monserrat", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
  height: 100%;
  /* width: 100%; */
  /* line-height: 1; */
  object-fit: cover;
}
.nav_main {
  padding: 38px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navitems {
  display: flex;
}
.navlinks ul {
  display: flex;
}
/* .navlinks li{
    margin-left: 20px;
} */
.navlinks li a {
  color: black;
  margin-right: 100px;
  text-transform: uppercase;
  /* padding: 5px 0; */
}
.navicons ul {
  display: flex;
}
.navicons li {
  margin-left: 30px;
}
.navlogo {
  display: inline-block;
  max-width: 80px;
  width: 100%;
}
.abt_banner {
  background-image: url(../images/About_banner.png);
  height: 100vh;
}
.abt_banner .container {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.banner-child {
  max-width: 640px;
  width: 100%;
}
h1 {
  font-size: 68px;
  font-family: var(--headingFont);
  color: white;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}
h2 {
  font-family: var(--headingFont);
  line-height: 1;
  font-weight: 600;
  color: var(--lightblack);
  font-size: 40px;
}
p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}
.col {
  padding: 0 15px;
}
.col-33 {
  width: 33.33%;
}
.aboutUs .row {
  margin-top: 72px;
}
.about_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.about_text h2 {
  font-size: 2rem;
  color: #48474a;
  margin-bottom: 20px;
}
.about_text p {
  line-height: 1.6;
  color: #48474a;
}
.about_image {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.about_image .image_top img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}
.about_image .image_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about_image .image_bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about_image .image_right_full {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.about_image .image_right_full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cardimg {
  position: relative;
}
.socialicon {
  position: absolute;
  bottom: 25%;
  left: 90%;
}
.socialicon li {
  margin-bottom: 30px;
}
.NAME {
  font-family: var(--headingFont);
  color: white;
  position: absolute;
  bottom: 10px;
}
.NAME span {
  font-size: 18px;
}
.vision-box {
  margin-top: 72px;
  display: flex;
  min-height: 456px;
  height: 100%;
}
.vision-img {
  max-width: 643px;
  width: 49%;
}
.vision-quote {
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision-quote p {
  max-width: 540px;
  width: 100%;
  color: white;
}
footer {
  background-color: black;
  position: relative;
}
.footer-img {
  height: 100%;
  position: absolute;
  left: 78%;
  background-color: rgba(73, 72, 73, 0.996);
}
.footer-img img {
  mix-blend-mode: multiply;
}
footer .container {
  padding-top: 144px;
  padding-bottom: 144px;
}
.foot-items {
  display: flex;
  gap: 30px;
}
.foot-items,
a {
  color: white;
}
.menu p,
li {
  margin-bottom: 12px;
}
.footer-btn {
  background-color: white;
  color: #800080;
  padding: 10px 28px;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--headingFont);
  margin-bottom: 100px;
}
.footer-head {
  font-family: var(--headingFont);
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}
.contact ul li{
  display: flex;
}
.social-icons ul{
  display: flex;
}
.social-icons .footer-head {
  margin-bottom: 30px;
}
.social-icons p:nth-child(2) {
  margin-bottom: 16px;
}
.social-icons a {
  border: 1px solid #800080;
  padding: 5px;
  margin-right: 10px;
}
.newsletter p {
  margin-bottom: 23px;
}
.newsletter #email {
  background: none;
  outline: none;
  border: 2px solid #800080;
  padding: 8px;
  position: relative;
}
#email:focus{
  color: white;
}
.newsletter input[type="submit"] {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background-color: #800080;
  border: none;
  padding: 8px;
  position: absolute;
}
.vertical-line {
    border-left: 1px solid whitesmoke;
}

